body {
  margin: 0vmin;
  width: 100vw;
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1600px;
  height: 80px;
  background-color: #ffffff;
}
.logo {
  width: 145px;
  height: 31px;
  margin-left: 215px;
}
.link {
  width: 49px;
  height: 16px;
  margin-left: 93px;
  align-items: center;
  justify-content: space-between;
}
